h1{
	font-weight: bold;
	text-align: center;
}

body{
	color:#eeeeee;
	background-color:#333;
	font: normal 14px "Lucida-console", Monoco, Monospace;
}


.header h4{
	font-weight: normal;
	line-height: 0.2em;
	text-align: center;
}

.box{
	margin-top: 50px;
}
.subtitle{
	font-weight: bold;
	line-height: 0.0001em;
}
.discription{
	font-style: italic;
	line-height: 0.01em;
}
.box h3{
	text-align: center;
	line-height: 0.01em;
}
