html{
	transform: scale(1.3);
	transform-origin: 0 0;
}

h2{
	color:#eee;
	line-height:0.15em;
}

h3{
	color:#eee;
	line-height:0.15em;
}

body{
	color:#eeeeee;
	background-color:#333333;
	font: normal 19px "Lucida-console", Monoco, Monospace;
}

div{
	margin-top:50px;
}

a:link{color:#eee}
a:visited{color:#eee;}